// width
@each $name, $var in $width-scales {
  .width-#{$name} {
    width: $var !important;
  }
}

@each $name, $var in $width-vw-scales {
  .width-#{$name}-vw {
    width: $var !important;
  }
}

// height
@each $name, $var in $height-scales {
  .height-#{$name} {
    height: $var !important;
  }
}

@each $name, $var in $height-vw-scales {
  .height-#{$name}-vh {
    height: $var !important;
  }
}

// flex center
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}