// text color
@each $name, $var in $text-color-scales {
  .text-#{$name} {
    color: $var !important;
  }
}

// text align
@each $var in $text-align-scales {
  .text-#{$var} {
    text-align: $var !important;
  }
}

// font size
@each $name, $var in $font-size-scales {
  .fs-#{$name} {
    font-size: $var !important;
  }
}

// text decoration
.text-clean {
  text-decoration: none !important;
}

// hyperlink
.hyperlink {
  @include hyperlink;
}

// 強制換行
.change-line { 
  white-space: pre-wrap;
  /* word-wrap: break-word; */
}

// 超過width隱藏內容
.ellipsis { 
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
