@import '../utils/variables';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  color: #303133;
  margin: 0;
  padding: 0;
  background-color: #F2F3F4;
}

html, body, h1, h2, h3, h4, h5, h6, button, input {
  font-family: 'Noto Sans TC', sans-serif, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微軟雅黑", Arial, sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background-color: #d4d4d4;
  color: #d4d4d4;
  /* IE6 */
}

// display
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

// padding & margin spacing
@each $name, $scale in $pm-scales {
  // padding spacing
  .p-#{$name} {
    padding-top: $scale !important;
    padding-bottom: $scale !important;
    padding-left: $scale !important;
    padding-right: $scale !important;
  }
  .px-#{$name} {
    padding-right: $scale !important;
    padding-left: $scale !important;
  }
  .py-#{$name} {
    padding-top: $scale !important;
    padding-bottom: $scale !important;
  }
  .pt-#{$name} {
    padding-top: $scale !important;
  }
  .pb-#{$name} {
    padding-bottom: $scale !important;
  }
  .pl-#{$name} {
    padding-left: $scale !important;
  }
  .pr-#{$name} {
    padding-right: $scale !important;
  }

  // margin spacing
  .m-#{$name} {
    margin-top: $scale !important;
    margin-bottom: $scale !important;
    margin-left: $scale !important;
    margin-right: $scale !important;
  }
  .mx-#{$name} {
    margin-right: $scale !important;
    margin-left: $scale !important;
  }
  .my-#{$name} {
    margin-top: $scale !important;
    margin-bottom: $scale !important;
  }
  .mt-#{$name} {
    margin-top: $scale !important;
  }
  .mb-#{$name} {
    margin-bottom: $scale !important;
  }
  .ml-#{$name} {
    margin-left: $scale !important;
  }
  .mr-#{$name} {
    margin-right: $scale !important;
  }
}

// width style
@each $name, $var in $width-scales {
  .width-#{$name} {
    width: $var;
  }
}

// float
@each $var in $float-scales {
  .float-#{$var} {
    float: $var;
  }
}

// text
@each $var in $text-scales {
  .text-#{$var} {
    text-align: $var;
  }
}

// box-shadow
.box-shadow-light {
  box-shadow: $box-shadow-light;
} 
.box-shadow-heavy {
  box-shadow: $box-shadow-heavy;
}

// hyperlink
.hyperlink {
  @include hyperlink;
}