#problem-section {
  .box {
    position: relative;
  }

  .problem-name {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    position: relative;

    .type {
      display: block;
      color: #888888;
      font-size: 15px;
      font-weight: 400;
      position: absolute;
      bottom: 20px;
      right: 5px;
    }

    .deadline {
      display: block;
      color: #888888;
      font-size: 15px;
      font-weight: 400;
      position: absolute;
      bottom: 0px;
      right: 5px;
    }
  }

  .tags {
    margin-left: 10px;

    .el-tag {
      line-height: 24px;
     }
  }

  .el-rate {
    display: inline-block;
    font-size: 40px;

    & i {
      font-size: 25px;
    }
  }

  .problem-info {
    margin: 20px;
    margin-bottom: 25px;

    .title {
      font-size: 20px;
      color: #277ee2;
    }

    .content {
      font-size: 18px;
      color: #666;
      margin-left: 20px;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }

}