/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

/* CodeMirror */

.CodeMirror {
  border: solid #CCC 1px;
  transition: all .3s ease;
  /* font-family: 'Roboto', sans-serif !important; */
}

/* codemirror-section */

#codemirror-section {
  .setting {
    margin-bottom: 25px;
  }

  .mirror-set-btn {
    float: right;
    margin: 5px;
  }

  .submit-btn {
    margin-top: 15px;
    float: right;
  }

  .judging-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
} 
