/* xs */
@media screen and (max-width: 768px) {
  .hidden-xs-only {
    display: none !important;
  }

  /* login */
  #login-card .el-dialog {
    width: 90% !important;
  }

  /* student index */
  #mainProblems-section .el-card {
    height: 130px !important;
  }

  .feedback {
    border: solid 1px #333;
  }

  .el-message-box {
    width: 90% !important;
  }

  /* score panel */
  .table-expand .el-form-item {
    width: 100% !important;
  }

  /* student mypage */
  #info-section {
    .el-form-item {
      margin-bottom: 0px;
    }

    .el-button {
      width: 100% !important;
    }
  }

  /* coding page */
  .coding-block {
    .setting span {
      margin-left: 0px !important;
    }

    .setting .el-select {
      margin-bottom: 10px;
      width: 100% !important;
    }
  }

  /* footer */
  #footer {
    padding: 0px;
  }
}

/* sm */
@media screen and (min-width: 769px) {
  .hidden-sm-only {
    display: none !important;
  }
}

/* md */
@media screen and (min-width: 992px) {
  /* studnet index */
  /* .el-card {
    height: 10vw !important;
    zoom: 125%;
  } */
}

/* lg */
@media screen and (min-width: 1200px) {
  /* studnet index problem card*/
  .problem-card {
    .el-card {
      height: 11vw !important;
    }

    .rate .el-rate__item i{
      font-size: 20px !important;
    }

    .problem-name {
      font-size: 17px !important;
    }
  }
}

/* xl */
@media screen and (min-width: 1904px) {
  /* studnet index problem card*/
  .problem-card {
    .card {
      height: 9vw !important;
    }
    .rate .el-rate__item i{
      font-size: 25px !important;
    }
    .problem-name {
      font-size: 19px !important;
    }
  }
}
