@import './main.scss';

#navbar-plain {
  @include navbar-basic;

  .el-menu {
    .el-menu-item:nth-child(2) {
      margin-left: 65%;
    }

    .el-menu-item:last-child {
      margin-right: 3%;
    }

    .right-item {
      float: right;
      padding-right: 50px;
    }
  }
}