@import './variables';

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin hyperlink {
  text-decoration: none;
  color: $main-text-color;
  transition: $quick-transition;

  &:hover {
    color: $primary-text-color;
  }
}