@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin hyperlink {
  text-decoration: none;
  color: $main-text-color;
  transition: $quick-transition;

  &:hover {
    color: $primary-text-color;
  }
}

// 與 penguin-problem-name 共用
@mixin penguin-box-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}