// text color
$main-text-color: #303133;
$regular-text-color: #606266;
$secondary-text-color: #909399;
$placeholder-text-color: #C0C4CC;

$primary-text-color: #409EFF;
$primary-dark-text-color: #277ee2;
$success-text-color: #67C23A;
$warning-text-color: #E6A23C;
$danger-text-color: #F56C6C;
$info-text-color: #909399;

$white-text-color: white;
$black-text-color: black;

// border color
$base-border-color: #DCDFE6;
$light-border-color: #E4E7ED;
$lighter-border-color: #EBEEF5;

// border
$light-border: 1px solid $light-border-color;
$transparent-border: rgba(0,0,0,0);

// backgroud color
$gray-light-bgcolor: #EFF0F3;

// navbar backgroud color
$sidenav-stud-bgcolor: white;
$sidenav-tr-bgcolor: #545c64;
$sidenav-asst-bgcolor: #545c64;
$sidenav-quesbk-bgcolor: #303133;

// box shadow
$box-shadow-light: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
$box-shadow-heavy: 4px 4px 3px rgba(20%, 20%, 40%, 0.2);

// text shadow
$text-shadow: 0 2px 5px rgba(0,0,0,0.3);

// trainsition
$quick-transition: all .3s ease;
$slow-transition: all .8s ease;

// scales: for building padding & margin
$pm-scales: (0:0px, 1:5px, 2:10px, 3:15px, 4:20px, 5:25px, 6:30px, 7:35px, 8:40px, 9:45px, 10:50px, 11:55px, 12:60px);

// width
$width-scales: (100:100%, 90:90%, 80:80%, 70:70%, 60:60%, 50:50%, 40:40%, 30:30%, 20:20%, 10:10%);
$width-vw-scales: (100:100vw, 90:90vw, 80:80vw, 70:70vw, 60:60vw, 50:50vw, 40:40vw, 30:30vw, 20:20vw, 10:10vw);

// height
$height-scales: (100:100%, 90:90%, 80:80%, 70:70%, 60:60%, 50:50%);
$height-vw-scales: (100:100vh, 90:90vh, 80:80vh, 70:70vh, 60:60vh, 50:50vh, 40:40vh, 30:30vh, 20:20vh, 10:10vh);

// float
$float-scales: right, left;

// text
$text-color-scales: (main:$main-text-color, regular:$regular-text-color, secondary:$secondary-text-color, placeholder:$placeholder-text-color,primary:$primary-text-color, success:$success-text-color, warning:$warning-text-color, danger:$danger-text-color, info:$info-text-color, white:$white-text-color, black:$black-text-color);
$text-align-scales: left, center, right;
$font-size-scales: (5:5px, 6:6px, 7:7px, 8:8px, 9:9px, 10:10px, 11:11px, 12:12px, 13:13px, 14:14px, 15:15px, 16:16px, 17:17px, 18:18px, 19:19px, 20:20px, 21:21px, 22:22px, 23:23px, 24:24px, 25:25px);