#problem-info-section {
  .problem-header {
    position: relative;

    .rate {
      display: inline-block;
      font-size: 40px;
      margin-left: 15px;
  
      & i {
        font-size: 25px;
      }
    }

    .type {
      display: block;
      color: $secondary-text-color;
      font-size: 15px;
      font-weight: 400;
      position: absolute;
      bottom: 20px;
      right: 5px;
    }

    .deadline {
      display: block;
      color: $secondary-text-color;
      font-size: 15px;
      font-weight: 400;
      position: absolute;
      bottom: 0px;
      right: 5px;
    }
  }

  .tags {
    margin-left: 10px;

    .el-tag {
      line-height: 24px;
     }
  }

  .problem-info {
    margin: 20px;
    margin-bottom: 25px;

    .title {
      font-size: 20px;
      color: $primary-dark-text-color;
    }

    .content {
      font-size: 18px;
      color: $regular-text-color;
      margin-left: 20px;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }
}